@model IEnumerable<Assignment3.Models.ViewModel.DetailedOrderViewModel>

@{
    ViewData["Title"] = "Order Details";
}

<h1>Order Details</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliveryAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliveredDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalProducts)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderID)
                </td>
                <td>
                    @item.OrderDate.ToShortDateString()
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeliveryAddress)
                </td>

                @{ if (item.DeliveredDate.HasValue)
                    {
                        <td>
                            @item.DeliveredDate.Value.ToShortDateString()
                        </td>
                    }
                    else
                    {
                        <td>
                        </td>
                    }
                }

                <td>
                    @Html.DisplayFor(modelItem => item.TotalProducts)
                </td>
            </tr>
        }
    </tbody>
</table>
